.mobile #gameboy-a, .mobile #gameboy-b {
  box-sizing: border-box;
}

.desktop #gameboy {
  height: 100vh;
}

.desktop #gameboy-screenpad {
  height: 100%;
}

.mobile div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}

@media only screen and (width <= 1776px) {
  .mobile #gameboy {
    touch-action: none;
    width: 888px;
    height: 1392px;
    box-sizing: border-box;
    background: #88c070;
    border: 12px solid #000;
    border-radius: 24px 24px 180px;
    margin: 0 auto;
    padding: 72px;
    position: relative;
  }

  .mobile #gameboy-screenpad {
    width: 450px;
    height: 402px;
    background: #346856;
    border-radius: 12px 12px 84px;
    margin: 0 auto 228px;
    padding: 72px 132px;
  }

  .mobile #gameboy-controls {
    width: 100%;
    height: 324px;
    position: relative;
    top: 0;
    left: 0;
  }

  .mobile #gameboy-dpad {
    width: 212px;
    height: 212px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .mobile #gameboy-left {
    width: 84px;
    height: 76px;
    background: none;
    border: none;
    padding: 8px;
    position: absolute;
    top: 68px;
    left: 0;
  }

  .mobile #gameboy-right {
    width: 84px;
    height: 76px;
    background: none;
    border: none;
    padding: 8px;
    position: absolute;
    top: 68px;
    right: 0;
  }

  .mobile #gameboy-up {
    width: 76px;
    height: 84px;
    background: none;
    border: none;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 68px;
  }

  .mobile #gameboy-down {
    width: 76px;
    height: 84px;
    background: none;
    border: none;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 68px;
  }

  .mobile #gameboy-left .inner, .mobile #gameboy-right .inner, .mobile #gameboy-up .inner, .mobile #gameboy-down .inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #081820;
    border: 5px solid #081820;
  }

  .mobile #gameboy-a {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    background: none;
    border: none;
    padding: 15px;
    position: absolute;
    top: -15px;
    right: -15px;
  }

  .mobile #gameboy-a .inner {
    width: 90px;
    height: 90px;
    color: #e0f8d0;
    box-sizing: border-box;
    background-color: #081820;
    border: 5px solid #081820;
    border-radius: 45px;
    font-family: VT323;
    font-size: 72px;
    line-height: 1;
  }

  .mobile #gameboy-b {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    background: none;
    border: none;
    padding: 15px;
    position: absolute;
    top: 45px;
    right: 117px;
  }

  .mobile #gameboy-b .inner {
    width: 90px;
    height: 90px;
    color: #e0f8d0;
    box-sizing: border-box;
    background-color: #081820;
    border: 5px solid #081820;
    border-radius: 45px;
    font-family: VT323;
    font-size: 72px;
    line-height: 1;
  }

  .mobile #gameboy-start {
    height: 36px;
    width: 120px;
    background-color: #081820;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 224px;
    transform: rotate(-45deg);
  }

  .mobile #gameboy-select {
    height: 36px;
    width: 120px;
    background-color: #081820;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 372px;
    transform: rotate(-45deg);
  }
}

.desktop #gameboy {
  touch-action: none;
  width: 100%;
  height: 100%;
}

.desktop #gameboy-screenpad {
  width: 100%;
  height: 100%;
}

.desktop #gameboy-controls, .desktop #gameboy-dpad, .desktop #gameboy-left, .desktop #gameboy-right, .desktop #gameboy-up, .desktop #gameboy-down, .desktop #gameboy-a, .desktop #gameboy-b, .desktop #gameboy-start, .desktop #gameboy-select {
  display: none;
}

/*# sourceMappingURL=index.6f4e67d2.css.map */
